.todo-list-item .btn{
 width: 40px;
 height: 35px;
  margin-left: 3px;
}
.todo-list-item{
    display: flex;
    flex-grow: 1;
}
.todo-list-item.done .todo-list-item-label{
    text-decoration: line-through;
}
.todo-list-item.important .todo-list-item-label{
    font-weight: bold;
    color: steelblue;
}