.contact-us{
    padding-top: 100px;
    .contact-us__header{
        text-align: center;
        margin-bottom:  50px ;
        h2{
            font-size: 44px;
            margin-bottom: 24px;
            color: $blackColor;
            font-weight: 700;
            line-height: 1.2;
        }
        p{
            font-size: 17px;
            margin-bottom: 16px;
            color: $grayColor;
            max-width: 60%;
            margin-left: auto;
            margin-right: auto;
            
        }
    }


.contact-us__card{
    background: #f8f9fa;
    padding: 30px 15px;
    margin: 0 15px 2rem 15px;

    display: flex;
    flex-direction: column;
    align-items: stretch;
    height: 100%;

    .contact-us__card-content{
       padding: 0 15px;
        .contact-us__card-content-round{
            margin: 0 auto;
            margin-bottom: 2rem;
            width: 100px;
            height: 100px;
            background: $whiteColor;
            border-radius: 50%;
            .icon-wrapper{
                text-align: center;
                transform: translateY(35px);
                .icon{
                    font-size: 30px;
                    color: $mainBlueColor;
                }
            }
        }
        h3{
            font-size: 17px;
            color: $blackColor;
            margin-bottom: 24px;
            text-align: center;
            font-weight: 500;
        }
        .contact-us__card-text{
            font-size: 17px;
            margin-bottom: 16px;
            color: $grayColor;
            line-height: 1.8;
            font-weight: 400;
            text-align: center;
            
        }
    }
    .contact-us__card-link{
        text-align: center;
        a{
            text-decoration: none;
            font-size: 17px;
            color: $blackColor;
        }
    }
}

    .second-row{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 3rem;
        .column{
            display: flex;
            flex-direction: column;
            align-items: stretch;
        }
    }




.third-row{
   
    margin-bottom: 7rem;
    background: $whiteColor;
        #map{
            min-height: 550px;
            width: 100%;
         }
         .column-forms{
             background: #f8f9fa;
             overflow: hidden;
             .form__wrapper{
                 padding: 4rem;
                .input__wrapper{
                    margin-bottom: 1.2rem;
                     .message__field{
                        height: 100px;
                        resize: none;
                    }
                    .contact__form_control{
                        padding: 12px 18px;
                        font-size: 15px;
                        outline: none;
                        border-radius: 5px;
                        width: 100%;
                        box-shadow: none;
                        line-height: 1.5;
                        border: 1px solid #ced4da;
                        color: #495057;
                    }

                }
                .contact-us-button{
                    cursor: pointer;
                    background-color: $mainRedColor;
                    color: $whiteColor;
                    outline: none;
                    border: 1px solid $mainRedColor;
                    border-radius: 50px;
                    padding: 13px 30px;
                    font-size: 1.3rem;
                    line-height: 1.5;
                    transition: .3s linear;
                    &:hover{
                        color: $mainRedColor;
                        background-color: $whiteColor;
                    }
                }
            }
         }
}

}
