
.department{
    
    .department__image{
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover; 
        }
    }
    .department__content{
        
        overflow: hidden;
        .col-card{
            transition:  .2s linear;
            &:hover{
                background-color: $mainBlueColor;
                p{
                    color: $lightWhite;
                }
                .department__content__link{
                    a{
                        color: $whiteColor;
                    }
                }
                .department__content__thumb{
                   span{
                        
                    color: $whiteColor;
                    }
                }
            }
           
            border-right: 1px solid rgba(0, 0, 0, 0.1);
            border-bottom: 1px solid rgba(0, 0, 0, 0.1);
            
    }
    .department__content__card{
        
        
        .department__content__card-content{
            
        }
            text-align: center;
            margin: 30px 10px;
            
            .department__content__thumb{
                margin: 20px 0;
                span{
                    font-size: 40px;
                    color: $mainBlueColor;
                }
            }
            .department__content__link{
                margin-bottom: 8px;
                a{
                    font-size: 24px;
                    color: $blackColor;
                    text-decoration: none;
                }
            }
            p{
                font-size: 17px;
                color: $grayColor;
                margin-bottom: 16px;
            }
            
        }
    }
}