
.doctors{
    padding: 4rem 2rem;
    .column{
       margin-bottom: 4rem;
       padding-left: 0.5rem;
       padding-right: 0.5rem;
    }
    .doctors__header{
        text-align: center;
        margin: 48px 0;
        h2{
            font-size: 44px;
            margin-bottom: 24px;
            color: rgba(0, 0, 0, 0.9);
        }
        p{
            font-size: 17px;
            margin-bottom: 16px;
            color: $grayColor;
            max-width: 60%;
           margin: 0 auto;
        }
    }
    .doctor__card{
        .doctor__card__info{
            position: relative;
            overflow: hidden;
            &:after{
                display: block;
                content: '';
                position: absolute;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: 100%;
                background: $lightWhite;
                opacity: 0;
                transition: .3s linear;
            } 
            
            .doctor__card__info-pic{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
                transition: .3s linear;
                
            }
            
            .doctor__card__info-socials{
                width: 100%;
               position: absolute;
                transform: translateY(100%);
                opacity: 0;
                bottom: 0;
                transition: .3s linear;
                z-index: 8;
                p{
                    background-color: $whiteColor;
                    display: flex;
                    justify-content: center;
                    padding: 1rem 0;
                    width: 100%;
                   
                }
                a{
                    color: $mainRedColor;
                    font-size: 15px;
                    padding: 0 0.6rem;
                    transition: .3s all;
                    &:hover{
                     transform: translateY(-3px);
                    }
                }
            }
        }
        .doctor__card__content{
            text-align: center;
            .doctor__card__content-title{
                font-size: 24px;
                color: rgba(0, 0, 0, 0.9);
                margin-bottom: 8px;
                transition: .3s linear;
                font-weight: 500;
            }
            h6{
                color: $mainBlueColor;
                font-size: 12px;
                letter-spacing: 3px;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }
            p{
                font-size: 17px;
                color: $grayColor;
                margin-bottom: 2rem;
               
            }
            .doctor__card__link-wrapper{
               
                a{
                    color: $whiteColor;
                    background-color: $mainBlueColor;
                    padding: 6px 12px;
                    border: 1px solid $mainBlueColor;
                    border-radius: 30px;
                    text-decoration: none;
                    font-weight: 400;
                }
            }
        }
        &:hover .doctor__card__info::after{
            opacity: 1;
        }
        &:hover .doctor__card__info-socials{
            transform: translateY(0);
            opacity: 1;
        }
        &:hover .doctor__card__info-pic{
            transform: translateY(-20px);
        }
        &:hover .doctor__card__content-title{
            color: $mainBlueColor; 
        }
    }
}
