

 .footer{

    min-height: 100vh;
    padding: 100px 20px 0 20px;
    position: relative;
    background: url(../img/footer-bg.jpg) no-repeat left;
    background-size: cover;
    &::after{
       content: '';
       display: block;
       position: absolute;
       top: 0;
       left: 0;
       right: 0;
       bottom: 0;
       width: 100%;
       height: 100%;
       background: rgba(255, 255, 255, 0.7);
       z-index: 3;
      
    }
   h3{
       color: black;
       font-size: 20px;
       margin-bottom: 40px;
       font-weight: 500;
    }
    .footer__row{
        .footer__column{
           padding: 0 5px;
            margin-bottom: 3rem;
        }
        position: relative;
        z-index: 7;
       .footer__mediplus{
           
           p{
              font-size: 16px;
              margin-bottom: 16px;
              color: rgba(0, 0, 0, 0.7);
  
           }
           .link__wrapper{
               margin-top: 3rem;
               .link__wrapper-social{
                  display: inline-block;
                   background-color: $mainBlueColor;
                   border-radius: 50%;
                   width: 50px;
                   height: 50px;
                   position: relative;
                   margin-right: 0.8rem;
                   a{
                       display: block;
                       transform: translateY(45%);
                       text-align: center;
                       .fa{
                          color: $whiteColor;
                          font-size: 26px;
                       }
                   }
               }
           }
       }
       .footer__departmens{
           .footer__departmens-list{
               list-style: none;
               padding: 0;
               li{
                   margin-bottom: 1rem;
                   a{     font-size: 16px;
                          color: $mainBlueColor;
                          text-decoration: none;
                       .fa{
                          color: $mainBlueColor;
                          margin-right: 6px;
                       }
                   }
               }
           }
       }
       
    }
    
    .footer__links{
       .footer__departmens-list{
           list-style: none;
           padding: 0;
           li{
               margin-bottom: 1rem;
               a{     font-size: 16px;
                      color: $mainBlueColor;
                      text-decoration: none;
                   .fa{
                      color: $mainBlueColor;
                      margin-right: 6px;
                   }
               }
           }
       }
   }
   .footer__services{
       .footer__departmens-list{
           list-style: none;
           padding: 0;
           li{
               margin-bottom: 1rem;
               a{     font-size: 16px;
                      color: $mainBlueColor;
                      text-decoration: none;
                   .fa{
                      color: $mainBlueColor;
                      margin-right: 6px;
                   }
               }
           }
       }
   }
   .footer__question{
       .footer__street{
           
           margin-bottom: 1rem;
           display: flex;
           p{  
               color: rgba(0, 0, 0, 0.7);
               font-size: 16px;
           }
           .fa{ color: $blackColor;
               font-size: 18px;
               margin-top: 5px;
               margin-right: 1.5rem;
            }
       }
       .link__wrapper{
           margin-bottom: 1.5rem;
           a{
               font-size: 18px;
               color: $mainBlueColor;
               text-decoration: none;
               .fa{
                   color: $mainBlueColor;
                      margin-right: 10px;
               }
           }
       }
   }
   }

  