.header{
  position: fixed;
  width: 100%;
  z-index: 9;
    .contacts{ 
         padding: 0.5rem 0;
         color: $whiteColor;
         background-color: $mainBlueColor;
         a{
            text-decoration: none;
            color: $whiteColor;
         }
         .ico{
             padding-right: .5rem;
         }
         
         .sign__form {
             a{
             padding: 0 1rem;
                &:first-child{
                    padding-left: 0;
                }
                &:last-child{
                 border-left: 1px solid $lightestWhite;
                 padding-right: 0;
                }
             }
         }
         
     }
     .header__main{
       
        background-color: rgba(255, 255, 255, 0.4);
         margin: 0;
         padding: 1.7rem 0;
         .row{
            display: flex;
            align-items: center;
        }
         .header__logo{
             a{
                font-weight: 900;
                color: $blackColor;
                font-size: 24px;
                text-decoration: none;
              }
              @media (max-width: 992px){
                a{
                    color: $whiteColor;
               }
               
              }
         }
           .header__nav{
           
               ul{
                list-style: none;
                display: flex;
                flex-wrap: wrap;
                padding: 0;
                margin: 0;
                @media (max-width: 992px){
                   display: block;
                   margin-top: 1.5rem;
                  
                 }
               
                li{
                    padding:0  1.1rem;
                    @media (max-width: 992px){
                        &:last-child{
                            margin: 2rem 0;
                            display: block;
                            
                        }
                    }
                   
                       .nav__link{
                           color: $blackColor;
                           text-decoration: none;
                           font-size: 16px;
                           position: relative;
                           padding: 0.6rem 0;
                           @media (max-width: 992px){
                            display: inline-block;
                            color: white;
                            margin: 0;
                            
                           
                        }
                          
                           
                       }
                       .nav__link:after{
                            
                        content: '';
                        width:0%;
                        height: 2px;
                        position: absolute;
                        bottom: 0;
                        left: 50%;
                        transform: translateX(-50%);
                        background-color: lighten($mainBlueColor,5% );
                        transition: .3s all;
                        transform-origin: 50% 50%;
                    
                   }
                   .nav__link:hover:after{
                    width:100%;
                   }
                   
                 }
                 @media (max-width: 992px){
                     background-color: black;
                 }
               }
               @media (max-width: 992px){
                max-width: 100%;
                max-height: 0;
                overflow: hidden;
                transition: all 0.3s ease;
                position: relative;
               }
               .open{
                display: block;
                
              }
              
           }
           .header__button{
               
               font-size: 12px;
               color: $whiteColor;
               padding: 13px 20px;
               background-color: $mainRedColor;
               border-radius: 5px;
               outline: none;
               border: transparent;
               transition: all .3s ;
               text-decoration: none;
               &:hover{
                   background-color: $mainBlueColor;
               }
               &:focus{
                   outline: none;
               }
               @media (max-width: 992px){
                  
               }
           }
           
           .burger{
               position: relative;
               display: none;
               background: transparent;
               width: 40px;
               height: 30px;
               cursor: pointer;
               border: none;
               outline: none;
               
               span{ 
                   position: relative;
                   display: inline-block;
                   width: 90%;
                   height: 2px;
                   background: $lightWhite;
                   transition: all .3s ease;

                   &::before{
                       content: '';
                       position: absolute;
                       top: 0;
                       left: 0;
                       background: $lightWhite;
                        height: 2px;
                        width: 100%;
                        transform: translateY(-6px);
                        transition: all .3s ease;
                   }
                   &::after{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    background: $lightWhite;
                     height: 2px;
                     width: 100%;
                     transform: translateY(6px);
                     transition: all .3s ease;
                }
                

                }
                &:focus{
                    outline: none;
                }
 
                &::after{
                 display: block;
                 content: 'menu';
                 color:$lightWhite ;
                 position: absolute;
                 right: -100%;
                 top: 0;
                 transform: translateY(35%);
                 font-size: 18px;
                 text-transform: uppercase;
                margin-right: -10px;
                
             }
                 @media (max-width: 992px){
                    display: block;
                }
                
               }
               .burger.close span{
                   background: transparent;
               }
               .burger.close span::before{
                transform: translateY(0) rotate(45deg) ;
                background-color: white;
            }
               .burger.close span::after{
                transform: translateY(0) rotate(-45deg) ;
                background-color: white;
            }
            
                @media (max-width: 992px){
                background-color: $blackColor;
             }
           }
          
     }
     




     


     .contacts__active{
         display: none;
         transition: all .6s ;
     }
     .header__active{
        background: white;
     }
     .header__black{
         background: black;
     }