
.health{
    .container-fluid{
      height: 100%;
      .row{
        height: 100%;
      }
    }
    background: url(../img/bg_2.jpg) no-repeat right 40%;
    height: 70vh;
    position: relative;
    &::after{
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        z-index: 6;
    }
    .health__content{
        max-width: 100%;
        max-height: 100%;
        z-index: 7;
        h2{
            font-size: 50px;
            color: $whiteColor;
            font-weight: 800;
            line-height: 1.5;
            margin-bottom: 10px;
            text-align: center;
        }
        p{
            font-size: 17px;
            color: rgba(255, 255, 255, 0.8);
            line-height: 1.8;
             font-weight: 400;
             margin-bottom: 1.3rem;
             max-width: 95%;
             text-align: center;
        }
        .health__link-wrapper{
            padding-top: 2rem;
            text-align: center;
            a{
                background-color: $whiteColor;
                color: $blackColor;
                text-decoration: none;
                padding: 16px 24px;
                border: 1px solid white;
                border-radius: 30px;
                
            }
        }
    }
}