
  @font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot?gzoozv');
    src:  url('../fonts/icomoon.eot?gzoozv#iefix') format('embedded-opentype'),
      url('../fonts/icomoon.ttf?gzoozv') format('truetype'),
      url('../fonts/icomoon.woff?gzoozv') format('woff'),
      url('../fonts/icomoon.svg?gzoozv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .icon-message:before {
    content: "\e900";
  }
  .icon-stethoscope:before {
    content: "\e901";
  }
  

  

