.intro{
   
    .parallax-window {
        min-height: 100vh;
        background: transparent ;
       
    }
    .intro__content{
        z-index: 2;
        padding-top: 200px;
        position: relative;
        h5{
            color: $mainBlueColor;
            font-size: 12px;
            letter-spacing: 2px;
            margin-bottom: 20px;
        }
        h1{
            font-size: 64px;
            color: $blackColor;
            font-weight: 700;
            line-height:1;
            margin-bottom: 24px;
        }
        p{
            margin-bottom: 1.5rem;
            font-weight: 400;
            color: $lightGray;
            font-size: 17px;
            line-height: 1.8;
        }
        .btn{
            font-family: "Poppins", Arial, sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: $whiteColor;
            text-decoration: none;
            padding: 17px 22px;
            background-color: $mainBlueColor;
            border-radius: 35px;
            border: 0;
            cursor: pointer;
        }
    }
}