


@media (max-width: 992px){
   
    .contacts{
        display: none;
    }
    .intro .intro__content{
        padding-top: 150px;
        h1{
            font-size: 50px;

        }
    }
    .mediplus .mediplus__content h2{
        font-size: 34px;
    }
    
 }

 @media (max-width: 768px){
    .mediplus .mediplus__content .link__appointment{
        display: block;
        width: 100%;
        text-align: center;
    }
    .mediplus .mediplus__content .link__contact{
        display: block;
        width: 100%;
        margin-top: 1rem;
        text-align: center;
    }
    .services .first__column{
        padding-top: 50px;
        padding-bottom: 50px;
    }
    .health .health__content h2{
        font-size: 40px;
    }
    .doctors{
        padding-top: 0;
    }
    .doctors .doctors__header h2{
        font-size: 34px;
    }
    .patients .column-main{
        margin: 30px 0 30px 0;
    }
    .patients .patients__facts h3{
        font-size: 40px;
    }
    .updates .updates__header h2{
        font-size: 34px;
    }
    .updates .updates__header{
        padding: 2.5rem 0;
    }
    .contact-us .contact-us__header h2{
        font-size: 34px;
    }
    .contact-us{
        padding-top: 50px;
    }
    .contact-us .third-row{
        margin-bottom: 0;
    }
 }

 
 @media (max-width: 576px){

    
    .header .header__main .burger::after{
        display: none;
    }
    .header .header__main .row{
        padding: 0 15px;
    }
    .intro .intro__content{
        padding-left: 15px;
        padding-right: 15px;
       
    }
    .intro .intro__content h1{
        font-size: 35px;
    }
    .intro .intro__content .btn{
        width: 100%;
        margin-bottom: 2rem;
    }
    .services__forms{
        padding-top:25px;
        padding-bottom:25px;
    }
    .mediplus .mediplus__content{
        padding-left: 15px;
        padding-right: 15px;
    }
    .mediplus .mediplus__content h2{
        font-size: 30px;
    }
    .services h2{
        font-size: 28px;
        margin-bottom: 25px;
    }
    .services .services__card{
        margin-bottom: 1rem;
    }
    .doctors .doctors__header{
        margin: 20px 0;
        
    }
    
    .services .first__column{
        padding: 25px 15px;
    }
    .health .health__content h2{
        font-size: 30px;
    }
    .patients{
        padding: 0 15px;
    }
    .patients .patients__facts h3{
        font-size: 30px;
       width: 100%;
       margin: 0 auto;
       margin-bottom: 1.5rem;
    }
    .patients .second-column .patients__block{
        padding: 15px;
    }
    .patients .column-main{
        margin: 15px 0;
    }
    .patients .patients__facts{
        text-align: center;
    }
    .updates .updates__header h2{
        font-size: 30px;
    }
    .updates .updates__header{
        padding: 25px 0 0 0;
    }
    .our-patients .our-patients__header h2{
        font-size: 34px;
        margin: 0;
    }
    .our-patients .our-patients__header{
        padding-top: 40px;
        margin-bottom: 40px;
    }
    .contact-us .third-row .column-forms .form__wrapper{
        padding: 25px 15px 15px 15px;
        
    }
    .updates .updates__card .updates__card-content .updates__card__link-wrapper {
        width: 100%;
        text-align: center;
        margin: 0;
        margin-top: 2rem ;
    }
    .updates .updates__card .updates__card-content .updates__card__link-wrapper a{
       width: 100%;
       padding: 10px 70px;
      
    }
    .footer{
        padding-top: 40px;
    }
    .footer .footer__row .footer__mediplus .link__wrapper{
        text-align: center;
        margin-top: 20px;
    }
    .footer h3{
        margin-bottom: 20px;
    }
    .our-patients .our-patients__header{
        margin-bottom: 20px;
    }
    .our-patients .owl-carousel .carousel__block .carousel__images-wrapper{
        margin-top: 1rem;
    }
    .owl-carousel, .owl-carousel.owl-loaded{
        padding-top: 0;
    }
    .our-patients .owl-carousel .carousel__block{
        margin-bottom: 1rem;
    }
    .contact-us{
        padding-top: 25px;
    }
    .contact-us .contact-us__header{
        margin-bottom: 25px;
    }
    .contact-us .contact-us__header h2{
        font-size: 24px;
    }
    .contact-us .third-row #map{
        min-height: 250px;
    }
    .contact-us .third-row .column-forms .form__wrapper .contact-us-button{
        width: 100%;
    }
 }
