
.mediplus{
    .mediplus__image{
        height: 100vh;
       }
    img{    
        
            max-width: 100%;
            height: 100vh;
            object-position: center center;
            object-fit: cover;

    }
    .mediplus__content{
        padding: 48px 0;
        h2{
            margin-bottom: 24px;
            font-size: 44px;
            color: $blackColor;
            line-height: 1.2;
            font-weight: 700;
            max-width: 80%;
           
        }
        span{
            color: $mainBlueColor;
        }
        p{
            margin-bottom: 1.3rem;
            font-size: 1.3rem;
            line-height: 1.8;
            font-weight: 400;
            color: $grayColor;
            
        }
        .mediplus__content__links{
            padding-top: 2rem;
        }
        a{  font-family: "Poppins", Arial, sans-serif;
            font-size: 18px;
            font-weight: 400;
            color: $whiteColor;
            text-decoration: none;
            border-radius: 35px;
            padding: 17px 22px;
            border: transparent;
        }
        .link__appointment{
            background-color: $mainBlueColor;
            margin-right: 5px;
        }
        .link__contact{
            background-color: $mainRedColor;
            transition: all .3s;
            border:1px solid $mainRedColor;
            &:hover{
                background-color: $whiteColor;
                color: lighten($color: $mainRedColor, $amount: 5%);
                border:1px solid $mainRedColor;
            }
        }
    }
    .content-flex{
       display: flex;
       align-items: center;
       justify-content: center;
    }
}
