

.our-patients{
    
    min-height: 100vh;
    background: url(../img/mainbg.jpg) no-repeat left;
    background-size: cover;
    background-position: 50% 30%;
    position: relative;
        &::after{
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: $mainBlueColor;
            z-index: 3;
            opacity: 0.7;
        }
        .our-patients__header{
            z-index: 5;
           text-align: center;
           padding-top: 6rem;
           margin-bottom: 4rem;
           h6{

                font-size: 12px;
                margin-bottom: 5px;
                letter-spacing: 2px;
                font-weight: 600;
                color: $whiteColor;
                
            }
            h2{
                font-size: 44px;
                margin-bottom: 24px;
                color: $whiteColor;
            }
        }
        .owl-carousel{
            z-index: 5;
            padding-bottom: 3rem;
            .carousel__block{
                padding: 0  20px;
                margin-bottom: 3rem;
                .carousel__images-wrapper{
                     margin: 0 auto 3rem auto;
                     width: 130px;
                     position: relative;
                    img{
                        display: block;
                        text-align: center;
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                       
                    }
                    .carousel__images-thumb{
                        position: absolute;
                        right: 0;
                        bottom: -5px;
                        background-color: $mainRedColor;
                        width: 40px;
                        height: 40px;
                        border-radius: 30px;
                        .fa-quote-left{
                            display: block;
                            color: $whiteColor;
                            position: absolute;
                            top: 15px;
                            left: 15px;
                            transform: translateY(-10%);
                            transform: translateX(-15%);
                        }
                    }
                }
                .carousel__block-content{
                    text-align: center;
                    p{
                        margin: 0 auto  1.5rem  auto;
                        color: rgba(255, 255, 255, 0.7);
                        font-size: 17px;
                        line-height: 1.8;
                        font-weight: 400;
                        max-width: 80%;
                       
                    }
                    h5{
                        color: $whiteColor;
                        font-size: 17px;
                        font-weight: 400;
                        margin-bottom: 1rem;
                    }
                    h6{
                        font-size: 12px;
                        letter-spacing: 1px;
                         font-weight: 500;
                         color: rgba(255, 255, 255, 0.8);
                         text-transform: uppercase;
                    }
                }
            }
        } 
        button:focus, button:active  {
            outline: none;
        }
    }
                                                           

   