

.patients{
    min-height: 80vh;
    background: url(../img/mainbg.jpg) no-repeat center center;
    background-size: cover;
    position: relative;
    
    .container{
       .row{
            width: 100%;
            min-height: 100%;
        }
    }
    &:after{
        
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: $mainBlueColor;
        z-index: 3;
        opacity: 0.7;
       
    }
    .patients__facts{
        
       z-index: 5;
       height: 100%;
         h6{
            font-size: 12px;
            margin-bottom: 20px;
            letter-spacing: 2px;
            font-weight: 600;
            color: rgba(255, 255, 255, 0.9);
        }
        h3{
            font-size: 44px;
            color: $whiteColor;
            margin-bottom: 34px;
            max-width: 85%;
        }
        .patients__facts__link{
            padding-top: 2rem;
            a{
                font-size: 16px;
                color: $whiteColor;
                padding: 16px 24px;
                text-decoration: none;
                background-color: $mainRedColor;
                border-radius: 30px;
                border: 1px solid $mainRedColor;
                transition: .2s linear;
                &:hover{
                    background-color: transparent;
                    color: $mainRedColor;

                }
            }
        }
    }
      
.second-column{
     z-index: 5;
      .patients__block{
          padding: 30px;
          text-align: center;
          .patients__block-content{
              .amount{
                font-size: 44px;
                color: $whiteColor; 
                margin-bottom: 1rem;
                font-weight: 800;
              }
              p{
                font-size: 16px;
                color: rgba(255, 255, 255, 0.8);
                font-weight: 500;
              }
          }
          
      }
    }  
   

.expirienced{
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-top: transparent;
    border-left: transparent;
    @media (max-width: 576px){
        border: none;
    }
  
}
    .numberOfDoctors{
        border-right: 1px solid rgba(255, 255, 255, 0.2);
        @media (max-width: 576px){
            border: none;
        }
    }
    .happyPatients{
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        @media (max-width: 576px){
            border: none;
        }
    }
    
    .column-main{
        margin: 60px 0;
    }
}
