
.services{
    background-color: #f8f9fa;
    .first__column{
       padding: 100px 0;
       padding-right: 30px;
    }
    .second__column{ 
        background: $whiteColor;
    }
    .main__row{
       
       
    }
    h2{
        line-height: 1.2;
        font-size: 44px;
        font-weight: 700;
        color: $blackColor;
        margin-bottom: 48px;
    }
    .services__card__content{
        h3{
            font-size: 20px;
            color: $blackColor;
            line-height: 1.5;
            margin-bottom: 1rem;
            font-weight: 500;

        }
        p{
            font-size: 16px;
            color: $grayColor;
            line-height: 1.8;
            margin-bottom: 1rem;
        }
    }
    .services__card{
        display: flex;
        margin-bottom: 2rem;
        .services__card__image{
            margin-right: 1.5rem;
            img{
                width: 50px;
                height: 50px;
            }
        }
    }

}


.services__forms{
    padding: 4rem 0;
    .form{
      width: 80%;
      
    }
    .forms__wrapper{
        width: 100%;
    }

    .services__forms__title{
        color: $mainBlueColor;
        font-size: 16px;
        margin-bottom: 2rem;
        font-weight: 600;
        letter-spacing: 3px;
        text-transform: uppercase;
    } 
    .form-control{
        padding:  20px 35px 20px 15px ;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 30px;
        color: rgba(0, 0, 0, 0.5);
        font-size: 16px;
       
        outline: none;
        width: 100%;
    }
    .input__wrapper{
        margin-bottom: 1rem;
        width: 100%;
     
    }
    .input__wrapper__icon{
        position: relative;
    }
    .icon{
        
    }
    .form__icon{
        position: absolute;
       top: 50%;
       right: 15px;
      transform: translateY(-35%);
     
      
    }
    .form__button{
        padding:  20px 15px;
        background-color: $mainRedColor;
        color: $whiteColor;
        border-radius: 30px;
        border: 1px solid $mainRedColor;
        font-size: 16px;
        width: 100%;
        cursor: pointer;
        transition: all .4s;
        &:hover{
            background-color: $whiteColor;
            color: $mainRedColor;
        }
        &:focus{
            outline: none;
        }
    }
    
 }