@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
@import 'variables';
@import 'header';
@import 'intro';
@import 'medias';
@import 'midiplus';
@import 'services';
@import 'health';
@import 'icomoon';
@import 'department';
@import 'doctors';
@import 'patients';
@import 'updates';
@import 'our-patients';
@import 'contact-us';
@import 'footer';
@import 'medias';

  

.col-1, .col-sm-1, .col-md-1, .col-sm-1, 
.col-2, .col-sm-2, .col-md-2, .col-sm-2, 
.col-3, .col-sm-3, .col-md-3, .col-sm-3, 
.col-4, .col-sm-4, .col-md-4, .col-sm-4, 
.col-5, .col-sm-5, .col-md-5, .col-sm-5, 
.col-6, .col-sm-6, .col-md-6, .col-sm-6, 
.col-7, .col-sm-7, .col-md-7, .col-sm-7, 
.col-8, .col-sm-8, .col-md-8, .col-sm-8, 
.col-9, .col-sm-9, .col-md-9, .col-sm-9, 
.col-0, .col-sm-10, .col-md-10, .col-sm-10, 
.col-11, .col-sm-11, .col-md-11, .col-sm-11, 
.col-12, .col-sm-12, .col-md-12, .col-sm-12 ,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, 
.col-lg-5, .col-lg-6 .col-lg-7, .col-lg-8, 
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12{
    padding: 0;
    margin: 0;
}
html{
    box-sizing: border-box;
    font-size: 14px;
    padding: 0;
    margin: 0;
}
*,
*::before,
*::after{
    box-sizing: inherit;
    margin: 0;
} 

body{
    
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: $grayColor;
    font-style: normal;
    font-family: 'Poppins', sans-serif;
}


