
.updates{
    .updates__header{
        text-align: center;
        padding: 5rem 0;
        h2{
            font-size: 44px;
            margin-bottom: 24px;
            color: $blackColor;
        }
        p{
            font-size: 17px;
            margin-bottom: 16px;
            color: $grayColor;
        }
    }





    .updates__card{
        margin-bottom: 2rem;
        padding: 15px;
     .updates__card-content{
         .updates__card__title{
             a{
                 font-size: 22px;
                 color: $blackColor;
                 text-decoration: none;
                 line-height: 1.5;
                 font-weight: 400;
                 transition: .3s all;
                 &:hover{
                    color: $mainBlueColor;
                    
                 }
             }
         }
         .updates__card__pic-wrapper{
            img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        
         }
         .updates__card__info{
            margin: 1.3rem 0;
             a{
                 font-size: 12px;
                 font-weight: 500;
                 text-transform: uppercase;
                 text-decoration: none;
                 color: $mainRedColor;
                 padding-right: 0.5rem;
                 transition: .3s all;
                 display: inline-block;
                 
                 &:hover{
                    transform: translateY(-3px);
                    color: $blackColor;
                   }
             }
             .icon-message{
                 padding-right: 5px;
             }
         }
         p{
             font-size: 17px;
             margin-bottom: 18px;
            line-height: 1.8;
            font-weight: 400;
            color: $grayColor;
         }
         .updates__card__link-wrapper{
            margin-bottom: 18px;
             a{
                 font-size: 16px;
                 color: $whiteColor;
                 padding: 8px 16px;
                 background-color: $mainBlueColor;
                 text-decoration: none;
                 border-radius: 30px;
                 
             }
         }
        }
    }
}