
$whiteColor: white;
$blackColor: #000000;
$mainBlueColor: #207dff;
$mainRedColor: #fe5f55;
$grayColor: #999999;
$lightWhite: rgba(255, 255, 255, 0.5);
$lightestWhite: rgba(255, 255, 255, 0.2);
$lightGray:rgba(0, 0, 0, 0.5);
