.header-wrapper{
   display: flex;
   justify-content: space-between;
   margin: 1rem 0;
   padding-top: 1rem;

}
.header-wrapper h6{
   align-self: flex-end;
}
@media screen and (max-width: 882px){
   .header-wrapper h1{
      font-size: 30px;
   }
}

@media screen and (max-width: 330px){
   .header-wrapper h1{
      font-size: 25px;
   }
}