@charset "UTF-8";
@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?a2jgcn");
  src: url("../fonts/icomoon.eot?a2jgcn#iefix") format("embedded-opentype"), url("../css//icomoon.ttf?a2jgcn") format("truetype"), url("../fonts/icomoon.woff?a2jgcn") format("woff"), url("../fonts/icomoon.svg?a2jgcn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-stethoscope:before {
  content: "";
}