/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
.header {
  position: fixed;
  width: 100%;
  z-index: 9;
}
.header .contacts {
  padding: 0.5rem 0;
  color: white;
  background-color: #207dff;
}
.header .contacts a {
  text-decoration: none;
  color: white;
}
.header .contacts .ico {
  padding-right: 0.5rem;
}
.header .contacts .sign__form a {
  padding: 0 1rem;
}
.header .contacts .sign__form a:first-child {
  padding-left: 0;
}
.header .contacts .sign__form a:last-child {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  padding-right: 0;
}
.header .header__main {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0;
  padding: 1.7rem 0;
}
.header .header__main .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header__main .header__logo a {
  font-weight: 900;
  color: #000000;
  font-size: 24px;
  text-decoration: none;
}
@media (max-width: 992px) {
  .header .header__main .header__logo a {
    color: white;
  }
}
.header .header__main .header__nav ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
@media (max-width: 992px) {
  .header .header__main .header__nav ul {
    display: block;
    margin-top: 1.5rem;
  }
}
.header .header__main .header__nav ul li {
  padding: 0 1.1rem;
}
@media (max-width: 992px) {
  .header .header__main .header__nav ul li:last-child {
    margin: 2rem 0;
    display: block;
  }
}
.header .header__main .header__nav ul li .nav__link {
  color: #000000;
  text-decoration: none;
  font-size: 16px;
  position: relative;
  padding: 0.6rem 0;
}
@media (max-width: 992px) {
  .header .header__main .header__nav ul li .nav__link {
    display: inline-block;
    color: white;
    margin: 0;
  }
}
.header .header__main .header__nav ul li .nav__link:after {
  content: "";
  width: 0%;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #3a8cff;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
}
.header .header__main .header__nav ul li .nav__link:hover:after {
  width: 100%;
}
@media (max-width: 992px) {
  .header .header__main .header__nav ul {
    background-color: black;
  }
}
@media (max-width: 992px) {
  .header .header__main .header__nav {
    max-width: 100%;
    max-height: 0;
    overflow: hidden;
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
    position: relative;
  }
}
.header .header__main .header__nav .open {
  display: block;
}
.header .header__main .header__button {
  font-size: 12px;
  color: white;
  padding: 13px 20px;
  background-color: #fe5f55;
  border-radius: 5px;
  outline: none;
  border: transparent;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}
.header .header__main .header__button:hover {
  background-color: #207dff;
}
.header .header__main .header__button:focus {
  outline: none;
}
.header .header__main .burger {
  position: relative;
  display: none;
  background: transparent;
  width: 40px;
  height: 30px;
  cursor: pointer;
  border: none;
  outline: none;
}
.header .header__main .burger span {
  position: relative;
  display: inline-block;
  width: 90%;
  height: 2px;
  background: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .header__main .burger span::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  height: 2px;
  width: 100%;
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .header__main .burger span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.5);
  height: 2px;
  width: 100%;
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.header .header__main .burger:focus {
  outline: none;
}
.header .header__main .burger::after {
  display: block;
  content: "menu";
  color: rgba(255, 255, 255, 0.5);
  position: absolute;
  right: -100%;
  top: 0;
  -webkit-transform: translateY(35%);
      -ms-transform: translateY(35%);
          transform: translateY(35%);
  font-size: 18px;
  text-transform: uppercase;
  margin-right: -10px;
}
@media (max-width: 992px) {
  .header .header__main .burger {
    display: block;
  }
}
.header .header__main .burger.close span {
  background: transparent;
}
.header .header__main .burger.close span::before {
  -webkit-transform: translateY(0) rotate(45deg);
      -ms-transform: translateY(0) rotate(45deg);
          transform: translateY(0) rotate(45deg);
  background-color: white;
}
.header .header__main .burger.close span::after {
  -webkit-transform: translateY(0) rotate(-45deg);
      -ms-transform: translateY(0) rotate(-45deg);
          transform: translateY(0) rotate(-45deg);
  background-color: white;
}
@media (max-width: 992px) {
  .header .header__main {
    background-color: #000000;
  }
}

.contacts__active {
  display: none;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
}

.header__active {
  background: white;
}

.header__black {
  background: black;
}

.intro .parallax-window {
  min-height: 100vh;
  background: transparent;
}
.intro .intro__content {
  z-index: 2;
  padding-top: 200px;
  position: relative;
}
.intro .intro__content h5 {
  color: #207dff;
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}
.intro .intro__content h1 {
  font-size: 64px;
  color: #000000;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 24px;
}
.intro .intro__content p {
  margin-bottom: 1.5rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  font-size: 17px;
  line-height: 1.8;
}
.intro .intro__content .btn {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding: 17px 22px;
  background-color: #207dff;
  border-radius: 35px;
  border: 0;
  cursor: pointer;
}

@media (max-width: 992px) {
  .contacts {
    display: none;
  }

  .intro .intro__content {
    padding-top: 150px;
  }
  .intro .intro__content h1 {
    font-size: 50px;
  }

  .mediplus .mediplus__content h2 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .mediplus .mediplus__content .link__appointment {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mediplus .mediplus__content .link__contact {
    display: block;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }

  .services .first__column {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .health .health__content h2 {
    font-size: 40px;
  }

  .doctors {
    padding-top: 0;
  }

  .doctors .doctors__header h2 {
    font-size: 34px;
  }

  .patients .column-main {
    margin: 30px 0 30px 0;
  }

  .patients .patients__facts h3 {
    font-size: 40px;
  }

  .updates .updates__header h2 {
    font-size: 34px;
  }

  .updates .updates__header {
    padding: 2.5rem 0;
  }

  .contact-us .contact-us__header h2 {
    font-size: 34px;
  }

  .contact-us {
    padding-top: 50px;
  }

  .contact-us .third-row {
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .header .header__main .burger::after {
    display: none;
  }

  .header .header__main .row {
    padding: 0 15px;
  }

  .intro .intro__content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .intro .intro__content h1 {
    font-size: 35px;
  }

  .intro .intro__content .btn {
    width: 100%;
    margin-bottom: 2rem;
  }

  .services__forms {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .mediplus .mediplus__content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mediplus .mediplus__content h2 {
    font-size: 30px;
  }

  .services h2 {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .services .services__card {
    margin-bottom: 1rem;
  }

  .doctors .doctors__header {
    margin: 20px 0;
  }

  .services .first__column {
    padding: 25px 15px;
  }

  .health .health__content h2 {
    font-size: 30px;
  }

  .patients {
    padding: 0 15px;
  }

  .patients .patients__facts h3 {
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  .patients .second-column .patients__block {
    padding: 15px;
  }

  .patients .column-main {
    margin: 15px 0;
  }

  .patients .patients__facts {
    text-align: center;
  }

  .updates .updates__header h2 {
    font-size: 30px;
  }

  .updates .updates__header {
    padding: 25px 0 0 0;
  }

  .our-patients .our-patients__header h2 {
    font-size: 34px;
    margin: 0;
  }

  .our-patients .our-patients__header {
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .contact-us .third-row .column-forms .form__wrapper {
    padding: 25px 15px 15px 15px;
  }

  .updates .updates__card .updates__card-content .updates__card__link-wrapper {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 2rem;
  }

  .updates .updates__card .updates__card-content .updates__card__link-wrapper a {
    width: 100%;
    padding: 10px 70px;
  }

  .footer {
    padding-top: 40px;
  }

  .footer .footer__row .footer__mediplus .link__wrapper {
    text-align: center;
    margin-top: 20px;
  }

  .footer h3 {
    margin-bottom: 20px;
  }

  .our-patients .our-patients__header {
    margin-bottom: 20px;
  }

  .our-patients .owl-carousel .carousel__block .carousel__images-wrapper {
    margin-top: 1rem;
  }

  .owl-carousel, .owl-carousel.owl-loaded {
    padding-top: 0;
  }

  .our-patients .owl-carousel .carousel__block {
    margin-bottom: 1rem;
  }

  .contact-us {
    padding-top: 25px;
  }

  .contact-us .contact-us__header {
    margin-bottom: 25px;
  }

  .contact-us .contact-us__header h2 {
    font-size: 24px;
  }

  .contact-us .third-row #map {
    min-height: 250px;
  }

  .contact-us .third-row .column-forms .form__wrapper .contact-us-button {
    width: 100%;
  }
}
.mediplus .mediplus__image {
  height: 100vh;
}
.mediplus img {
  max-width: 100%;
  height: 100vh;
  -o-object-position: center center;
     object-position: center center;
  -o-object-fit: cover;
     object-fit: cover;
}
.mediplus .mediplus__content {
  padding: 48px 0;
}
.mediplus .mediplus__content h2 {
  margin-bottom: 24px;
  font-size: 44px;
  color: #000000;
  line-height: 1.2;
  font-weight: 700;
  max-width: 80%;
}
.mediplus .mediplus__content span {
  color: #207dff;
}
.mediplus .mediplus__content p {
  margin-bottom: 1.3rem;
  font-size: 1.3rem;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}
.mediplus .mediplus__content .mediplus__content__links {
  padding-top: 2rem;
}
.mediplus .mediplus__content a {
  font-family: "Poppins", Arial, sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  border-radius: 35px;
  padding: 17px 22px;
  border: transparent;
}
.mediplus .mediplus__content .link__appointment {
  background-color: #207dff;
  margin-right: 5px;
}
.mediplus .mediplus__content .link__contact {
  background-color: #fe5f55;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  border: 1px solid #fe5f55;
}
.mediplus .mediplus__content .link__contact:hover {
  background-color: white;
  color: #fe776e;
  border: 1px solid #fe5f55;
}
.mediplus .content-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services {
  background-color: #f8f9fa;
}
.services .first__column {
  padding: 100px 0;
  padding-right: 30px;
}
.services .second__column {
  background: white;
}
.services h2 {
  line-height: 1.2;
  font-size: 44px;
  font-weight: 700;
  color: #000000;
  margin-bottom: 48px;
}
.services .services__card__content h3 {
  font-size: 20px;
  color: #000000;
  line-height: 1.5;
  margin-bottom: 1rem;
  font-weight: 500;
}
.services .services__card__content p {
  font-size: 16px;
  color: #999999;
  line-height: 1.8;
  margin-bottom: 1rem;
}
.services .services__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
}
.services .services__card .services__card__image {
  margin-right: 1.5rem;
}
.services .services__card .services__card__image img {
  width: 50px;
  height: 50px;
}

.services__forms {
  padding: 4rem 0;
}
.services__forms .form {
  width: 80%;
}
.services__forms .forms__wrapper {
  width: 100%;
}
.services__forms .services__forms__title {
  color: #207dff;
  font-size: 16px;
  margin-bottom: 2rem;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
}
.services__forms .form-control {
  padding: 20px 35px 20px 15px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  color: rgba(0, 0, 0, 0.5);
  font-size: 16px;
  outline: none;
  width: 100%;
}
.services__forms .input__wrapper {
  margin-bottom: 1rem;
  width: 100%;
}
.services__forms .input__wrapper__icon {
  position: relative;
}
.services__forms .form__icon {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-35%);
      -ms-transform: translateY(-35%);
          transform: translateY(-35%);
}
.services__forms .form__button {
  padding: 20px 15px;
  background-color: #fe5f55;
  color: white;
  border-radius: 30px;
  border: 1px solid #fe5f55;
  font-size: 16px;
  width: 100%;
  cursor: pointer;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
}
.services__forms .form__button:hover {
  background-color: white;
  color: #fe5f55;
}
.services__forms .form__button:focus {
  outline: none;
}

.health {
  background: url(../img/bg_2.jpg) no-repeat right 40%;
  height: 70vh;
  position: relative;
}
.health .container-fluid {
  height: 100%;
}
.health .container-fluid .row {
  height: 100%;
}
.health::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 6;
}
.health .health__content {
  max-width: 100%;
  max-height: 100%;
  z-index: 7;
}
.health .health__content h2 {
  font-size: 50px;
  color: white;
  font-weight: 800;
  line-height: 1.5;
  margin-bottom: 10px;
  text-align: center;
}
.health .health__content p {
  font-size: 17px;
  color: rgba(255, 255, 255, 0.8);
  line-height: 1.8;
  font-weight: 400;
  margin-bottom: 1.3rem;
  max-width: 95%;
  text-align: center;
}
.health .health__content .health__link-wrapper {
  padding-top: 2rem;
  text-align: center;
}
.health .health__content .health__link-wrapper a {
  background-color: white;
  color: #000000;
  text-decoration: none;
  padding: 16px 24px;
  border: 1px solid white;
  border-radius: 30px;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?gzoozv");
  src: url("../fonts/icomoon.eot?gzoozv#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?gzoozv") format("truetype"), url("../fonts/icomoon.woff?gzoozv") format("woff"), url("../fonts/icomoon.svg?gzoozv#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-message:before {
  content: "";
}

.icon-stethoscope:before {
  content: "";
}

.department .department__image {
  height: 100%;
}
.department .department__image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.department .department__content {
  overflow: hidden;
}
.department .department__content .col-card {
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.department .department__content .col-card:hover {
  background-color: #207dff;
}
.department .department__content .col-card:hover p {
  color: rgba(255, 255, 255, 0.5);
}
.department .department__content .col-card:hover .department__content__link a {
  color: white;
}
.department .department__content .col-card:hover .department__content__thumb span {
  color: white;
}
.department .department__content .department__content__card {
  text-align: center;
  margin: 30px 10px;
}
.department .department__content .department__content__card .department__content__thumb {
  margin: 20px 0;
}
.department .department__content .department__content__card .department__content__thumb span {
  font-size: 40px;
  color: #207dff;
}
.department .department__content .department__content__card .department__content__link {
  margin-bottom: 8px;
}
.department .department__content .department__content__card .department__content__link a {
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}
.department .department__content .department__content__card p {
  font-size: 17px;
  color: #999999;
  margin-bottom: 16px;
}

.doctors {
  padding: 4rem 2rem;
}
.doctors .column {
  margin-bottom: 4rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
.doctors .doctors__header {
  text-align: center;
  margin: 48px 0;
}
.doctors .doctors__header h2 {
  font-size: 44px;
  margin-bottom: 24px;
  color: rgba(0, 0, 0, 0.9);
}
.doctors .doctors__header p {
  font-size: 17px;
  margin-bottom: 16px;
  color: #999999;
  max-width: 60%;
  margin: 0 auto;
}
.doctors .doctor__card .doctor__card__info {
  position: relative;
  overflow: hidden;
}
.doctors .doctor__card .doctor__card__info:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.5);
  opacity: 0;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.doctors .doctor__card .doctor__card__info .doctor__card__info-pic {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.doctors .doctor__card .doctor__card__info .doctor__card__info-socials {
  width: 100%;
  position: absolute;
  -webkit-transform: translateY(100%);
      -ms-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 0;
  bottom: 0;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  z-index: 8;
}
.doctors .doctor__card .doctor__card__info .doctor__card__info-socials p {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1rem 0;
  width: 100%;
}
.doctors .doctor__card .doctor__card__info .doctor__card__info-socials a {
  color: #fe5f55;
  font-size: 15px;
  padding: 0 0.6rem;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.doctors .doctor__card .doctor__card__info .doctor__card__info-socials a:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
}
.doctors .doctor__card .doctor__card__content {
  text-align: center;
}
.doctors .doctor__card .doctor__card__content .doctor__card__content-title {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 8px;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
  font-weight: 500;
}
.doctors .doctor__card .doctor__card__content h6 {
  color: #207dff;
  font-size: 12px;
  letter-spacing: 3px;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
.doctors .doctor__card .doctor__card__content p {
  font-size: 17px;
  color: #999999;
  margin-bottom: 2rem;
}
.doctors .doctor__card .doctor__card__content .doctor__card__link-wrapper a {
  color: white;
  background-color: #207dff;
  padding: 6px 12px;
  border: 1px solid #207dff;
  border-radius: 30px;
  text-decoration: none;
  font-weight: 400;
}
.doctors .doctor__card:hover .doctor__card__info::after {
  opacity: 1;
}
.doctors .doctor__card:hover .doctor__card__info-socials {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  opacity: 1;
}
.doctors .doctor__card:hover .doctor__card__info-pic {
  -webkit-transform: translateY(-20px);
      -ms-transform: translateY(-20px);
          transform: translateY(-20px);
}
.doctors .doctor__card:hover .doctor__card__content-title {
  color: #207dff;
}

.patients {
  min-height: 80vh;
  background: url(../img/mainbg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
.patients .container .row {
  width: 100%;
  min-height: 100%;
}
.patients:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #207dff;
  z-index: 3;
  opacity: 0.7;
}
.patients .patients__facts {
  z-index: 5;
  height: 100%;
}
.patients .patients__facts h6 {
  font-size: 12px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.9);
}
.patients .patients__facts h3 {
  font-size: 44px;
  color: white;
  margin-bottom: 34px;
  max-width: 85%;
}
.patients .patients__facts .patients__facts__link {
  padding-top: 2rem;
}
.patients .patients__facts .patients__facts__link a {
  font-size: 16px;
  color: white;
  padding: 16px 24px;
  text-decoration: none;
  background-color: #fe5f55;
  border-radius: 30px;
  border: 1px solid #fe5f55;
  -webkit-transition: 0.2s linear;
  -o-transition: 0.2s linear;
  transition: 0.2s linear;
}
.patients .patients__facts .patients__facts__link a:hover {
  background-color: transparent;
  color: #fe5f55;
}
.patients .second-column {
  z-index: 5;
}
.patients .second-column .patients__block {
  padding: 30px;
  text-align: center;
}
.patients .second-column .patients__block .patients__block-content .amount {
  font-size: 44px;
  color: white;
  margin-bottom: 1rem;
  font-weight: 800;
}
.patients .second-column .patients__block .patients__block-content p {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 500;
}
.patients .expirienced {
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-top: transparent;
  border-left: transparent;
}
@media (max-width: 576px) {
  .patients .expirienced {
    border: none;
  }
}
.patients .numberOfDoctors {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 576px) {
  .patients .numberOfDoctors {
    border: none;
  }
}
.patients .happyPatients {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
@media (max-width: 576px) {
  .patients .happyPatients {
    border: none;
  }
}
.patients .column-main {
  margin: 60px 0;
}

.updates .updates__header {
  text-align: center;
  padding: 5rem 0;
}
.updates .updates__header h2 {
  font-size: 44px;
  margin-bottom: 24px;
  color: #000000;
}
.updates .updates__header p {
  font-size: 17px;
  margin-bottom: 16px;
  color: #999999;
}
.updates .updates__card {
  margin-bottom: 2rem;
  padding: 15px;
}
.updates .updates__card .updates__card-content .updates__card__title a {
  font-size: 22px;
  color: #000000;
  text-decoration: none;
  line-height: 1.5;
  font-weight: 400;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}
.updates .updates__card .updates__card-content .updates__card__title a:hover {
  color: #207dff;
}
.updates .updates__card .updates__card-content .updates__card__pic-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.updates .updates__card .updates__card-content .updates__card__info {
  margin: 1.3rem 0;
}
.updates .updates__card .updates__card-content .updates__card__info a {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  color: #fe5f55;
  padding-right: 0.5rem;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  display: inline-block;
}
.updates .updates__card .updates__card-content .updates__card__info a:hover {
  -webkit-transform: translateY(-3px);
      -ms-transform: translateY(-3px);
          transform: translateY(-3px);
  color: #000000;
}
.updates .updates__card .updates__card-content .updates__card__info .icon-message {
  padding-right: 5px;
}
.updates .updates__card .updates__card-content p {
  font-size: 17px;
  margin-bottom: 18px;
  line-height: 1.8;
  font-weight: 400;
  color: #999999;
}
.updates .updates__card .updates__card-content .updates__card__link-wrapper {
  margin-bottom: 18px;
}
.updates .updates__card .updates__card-content .updates__card__link-wrapper a {
  font-size: 16px;
  color: white;
  padding: 8px 16px;
  background-color: #207dff;
  text-decoration: none;
  border-radius: 30px;
}

.our-patients {
  min-height: 100vh;
  background: url(../img/mainbg.jpg) no-repeat left;
  background-size: cover;
  background-position: 50% 30%;
  position: relative;
}
.our-patients::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #207dff;
  z-index: 3;
  opacity: 0.7;
}
.our-patients .our-patients__header {
  z-index: 5;
  text-align: center;
  padding-top: 6rem;
  margin-bottom: 4rem;
}
.our-patients .our-patients__header h6 {
  font-size: 12px;
  margin-bottom: 5px;
  letter-spacing: 2px;
  font-weight: 600;
  color: white;
}
.our-patients .our-patients__header h2 {
  font-size: 44px;
  margin-bottom: 24px;
  color: white;
}
.our-patients .owl-carousel {
  z-index: 5;
  padding-bottom: 3rem;
}
.our-patients .owl-carousel .carousel__block {
  padding: 0 20px;
  margin-bottom: 3rem;
}
.our-patients .owl-carousel .carousel__block .carousel__images-wrapper {
  margin: 0 auto 3rem auto;
  width: 130px;
  position: relative;
}
.our-patients .owl-carousel .carousel__block .carousel__images-wrapper img {
  display: block;
  text-align: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.our-patients .owl-carousel .carousel__block .carousel__images-wrapper .carousel__images-thumb {
  position: absolute;
  right: 0;
  bottom: -5px;
  background-color: #fe5f55;
  width: 40px;
  height: 40px;
  border-radius: 30px;
}
.our-patients .owl-carousel .carousel__block .carousel__images-wrapper .carousel__images-thumb .fa-quote-left {
  display: block;
  color: white;
  position: absolute;
  top: 15px;
  left: 15px;
  -webkit-transform: translateY(-10%);
      -ms-transform: translateY(-10%);
          transform: translateY(-10%);
  -webkit-transform: translateX(-15%);
      -ms-transform: translateX(-15%);
          transform: translateX(-15%);
}
.our-patients .owl-carousel .carousel__block .carousel__block-content {
  text-align: center;
}
.our-patients .owl-carousel .carousel__block .carousel__block-content p {
  margin: 0 auto 1.5rem auto;
  color: rgba(255, 255, 255, 0.7);
  font-size: 17px;
  line-height: 1.8;
  font-weight: 400;
  max-width: 80%;
}
.our-patients .owl-carousel .carousel__block .carousel__block-content h5 {
  color: white;
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 1rem;
}
.our-patients .owl-carousel .carousel__block .carousel__block-content h6 {
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 500;
  color: rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
}
.our-patients button:focus, .our-patients button:active {
  outline: none;
}

.contact-us {
  padding-top: 100px;
}
.contact-us .contact-us__header {
  text-align: center;
  margin-bottom: 50px;
}
.contact-us .contact-us__header h2 {
  font-size: 44px;
  margin-bottom: 24px;
  color: #000000;
  font-weight: 700;
  line-height: 1.2;
}
.contact-us .contact-us__header p {
  font-size: 17px;
  margin-bottom: 16px;
  color: #999999;
  max-width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.contact-us .contact-us__card {
  background: #f8f9fa;
  padding: 30px 15px;
  margin: 0 15px 2rem 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  height: 100%;
}
.contact-us .contact-us__card .contact-us__card-content {
  padding: 0 15px;
}
.contact-us .contact-us__card .contact-us__card-content .contact-us__card-content-round {
  margin: 0 auto;
  margin-bottom: 2rem;
  width: 100px;
  height: 100px;
  background: white;
  border-radius: 50%;
}
.contact-us .contact-us__card .contact-us__card-content .contact-us__card-content-round .icon-wrapper {
  text-align: center;
  -webkit-transform: translateY(35px);
      -ms-transform: translateY(35px);
          transform: translateY(35px);
}
.contact-us .contact-us__card .contact-us__card-content .contact-us__card-content-round .icon-wrapper .icon {
  font-size: 30px;
  color: #207dff;
}
.contact-us .contact-us__card .contact-us__card-content h3 {
  font-size: 17px;
  color: #000000;
  margin-bottom: 24px;
  text-align: center;
  font-weight: 500;
}
.contact-us .contact-us__card .contact-us__card-content .contact-us__card-text {
  font-size: 17px;
  margin-bottom: 16px;
  color: #999999;
  line-height: 1.8;
  font-weight: 400;
  text-align: center;
}
.contact-us .contact-us__card .contact-us__card-link {
  text-align: center;
}
.contact-us .contact-us__card .contact-us__card-link a {
  text-decoration: none;
  font-size: 17px;
  color: #000000;
}
.contact-us .second-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3rem;
}
.contact-us .second-row .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.contact-us .third-row {
  margin-bottom: 7rem;
  background: white;
}
.contact-us .third-row #map {
  min-height: 550px;
  width: 100%;
}
.contact-us .third-row .column-forms {
  background: #f8f9fa;
  overflow: hidden;
}
.contact-us .third-row .column-forms .form__wrapper {
  padding: 4rem;
}
.contact-us .third-row .column-forms .form__wrapper .input__wrapper {
  margin-bottom: 1.2rem;
}
.contact-us .third-row .column-forms .form__wrapper .input__wrapper .message__field {
  height: 100px;
  resize: none;
}
.contact-us .third-row .column-forms .form__wrapper .input__wrapper .contact__form_control {
  padding: 12px 18px;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  width: 100%;
  -webkit-box-shadow: none;
          box-shadow: none;
  line-height: 1.5;
  border: 1px solid #ced4da;
  color: #495057;
}
.contact-us .third-row .column-forms .form__wrapper .contact-us-button {
  cursor: pointer;
  background-color: #fe5f55;
  color: white;
  outline: none;
  border: 1px solid #fe5f55;
  border-radius: 50px;
  padding: 13px 30px;
  font-size: 1.3rem;
  line-height: 1.5;
  -webkit-transition: 0.3s linear;
  -o-transition: 0.3s linear;
  transition: 0.3s linear;
}
.contact-us .third-row .column-forms .form__wrapper .contact-us-button:hover {
  color: #fe5f55;
  background-color: white;
}

.footer {
  min-height: 100vh;
  padding: 100px 20px 0 20px;
  position: relative;
  background: url(../img/footer-bg.jpg) no-repeat left;
  background-size: cover;
}
.footer::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.7);
  z-index: 3;
}
.footer h3 {
  color: black;
  font-size: 20px;
  margin-bottom: 40px;
  font-weight: 500;
}
.footer .footer__row {
  position: relative;
  z-index: 7;
}
.footer .footer__row .footer__column {
  padding: 0 5px;
  margin-bottom: 3rem;
}
.footer .footer__row .footer__mediplus p {
  font-size: 16px;
  margin-bottom: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.footer .footer__row .footer__mediplus .link__wrapper {
  margin-top: 3rem;
}
.footer .footer__row .footer__mediplus .link__wrapper .link__wrapper-social {
  display: inline-block;
  background-color: #207dff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  position: relative;
  margin-right: 0.8rem;
}
.footer .footer__row .footer__mediplus .link__wrapper .link__wrapper-social a {
  display: block;
  -webkit-transform: translateY(45%);
      -ms-transform: translateY(45%);
          transform: translateY(45%);
  text-align: center;
}
.footer .footer__row .footer__mediplus .link__wrapper .link__wrapper-social a .fa {
  color: white;
  font-size: 26px;
}
.footer .footer__row .footer__departmens .footer__departmens-list {
  list-style: none;
  padding: 0;
}
.footer .footer__row .footer__departmens .footer__departmens-list li {
  margin-bottom: 1rem;
}
.footer .footer__row .footer__departmens .footer__departmens-list li a {
  font-size: 16px;
  color: #207dff;
  text-decoration: none;
}
.footer .footer__row .footer__departmens .footer__departmens-list li a .fa {
  color: #207dff;
  margin-right: 6px;
}
.footer .footer__links .footer__departmens-list {
  list-style: none;
  padding: 0;
}
.footer .footer__links .footer__departmens-list li {
  margin-bottom: 1rem;
}
.footer .footer__links .footer__departmens-list li a {
  font-size: 16px;
  color: #207dff;
  text-decoration: none;
}
.footer .footer__links .footer__departmens-list li a .fa {
  color: #207dff;
  margin-right: 6px;
}
.footer .footer__services .footer__departmens-list {
  list-style: none;
  padding: 0;
}
.footer .footer__services .footer__departmens-list li {
  margin-bottom: 1rem;
}
.footer .footer__services .footer__departmens-list li a {
  font-size: 16px;
  color: #207dff;
  text-decoration: none;
}
.footer .footer__services .footer__departmens-list li a .fa {
  color: #207dff;
  margin-right: 6px;
}
.footer .footer__question .footer__street {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer .footer__question .footer__street p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 16px;
}
.footer .footer__question .footer__street .fa {
  color: #000000;
  font-size: 18px;
  margin-top: 5px;
  margin-right: 1.5rem;
}
.footer .footer__question .link__wrapper {
  margin-bottom: 1.5rem;
}
.footer .footer__question .link__wrapper a {
  font-size: 18px;
  color: #207dff;
  text-decoration: none;
}
.footer .footer__question .link__wrapper a .fa {
  color: #207dff;
  margin-right: 10px;
}

@media (max-width: 992px) {
  .contacts {
    display: none;
  }

  .intro .intro__content {
    padding-top: 150px;
  }
  .intro .intro__content h1 {
    font-size: 50px;
  }

  .mediplus .mediplus__content h2 {
    font-size: 34px;
  }
}
@media (max-width: 768px) {
  .mediplus .mediplus__content .link__appointment {
    display: block;
    width: 100%;
    text-align: center;
  }

  .mediplus .mediplus__content .link__contact {
    display: block;
    width: 100%;
    margin-top: 1rem;
    text-align: center;
  }

  .services .first__column {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .health .health__content h2 {
    font-size: 40px;
  }

  .doctors {
    padding-top: 0;
  }

  .doctors .doctors__header h2 {
    font-size: 34px;
  }

  .patients .column-main {
    margin: 30px 0 30px 0;
  }

  .patients .patients__facts h3 {
    font-size: 40px;
  }

  .updates .updates__header h2 {
    font-size: 34px;
  }

  .updates .updates__header {
    padding: 2.5rem 0;
  }

  .contact-us .contact-us__header h2 {
    font-size: 34px;
  }

  .contact-us {
    padding-top: 50px;
  }

  .contact-us .third-row {
    margin-bottom: 0;
  }
}
@media (max-width: 576px) {
  .header .header__main .burger::after {
    display: none;
  }

  .header .header__main .row {
    padding: 0 15px;
  }

  .intro .intro__content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .intro .intro__content h1 {
    font-size: 35px;
  }

  .intro .intro__content .btn {
    width: 100%;
    margin-bottom: 2rem;
  }

  .services__forms {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .mediplus .mediplus__content {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mediplus .mediplus__content h2 {
    font-size: 30px;
  }

  .services h2 {
    font-size: 28px;
    margin-bottom: 25px;
  }

  .services .services__card {
    margin-bottom: 1rem;
  }

  .doctors .doctors__header {
    margin: 20px 0;
  }

  .services .first__column {
    padding: 25px 15px;
  }

  .health .health__content h2 {
    font-size: 30px;
  }

  .patients {
    padding: 0 15px;
  }

  .patients .patients__facts h3 {
    font-size: 30px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
  }

  .patients .second-column .patients__block {
    padding: 15px;
  }

  .patients .column-main {
    margin: 15px 0;
  }

  .patients .patients__facts {
    text-align: center;
  }

  .updates .updates__header h2 {
    font-size: 30px;
  }

  .updates .updates__header {
    padding: 25px 0 0 0;
  }

  .our-patients .our-patients__header h2 {
    font-size: 34px;
    margin: 0;
  }

  .our-patients .our-patients__header {
    padding-top: 40px;
    margin-bottom: 40px;
  }

  .contact-us .third-row .column-forms .form__wrapper {
    padding: 25px 15px 15px 15px;
  }

  .updates .updates__card .updates__card-content .updates__card__link-wrapper {
    width: 100%;
    text-align: center;
    margin: 0;
    margin-top: 2rem;
  }

  .updates .updates__card .updates__card-content .updates__card__link-wrapper a {
    width: 100%;
    padding: 10px 70px;
  }

  .footer {
    padding-top: 40px;
  }

  .footer .footer__row .footer__mediplus .link__wrapper {
    text-align: center;
    margin-top: 20px;
  }

  .footer h3 {
    margin-bottom: 20px;
  }

  .our-patients .our-patients__header {
    margin-bottom: 20px;
  }

  .our-patients .owl-carousel .carousel__block .carousel__images-wrapper {
    margin-top: 1rem;
  }

  .owl-carousel, .owl-carousel.owl-loaded {
    padding-top: 0;
  }

  .our-patients .owl-carousel .carousel__block {
    margin-bottom: 1rem;
  }

  .contact-us {
    padding-top: 25px;
  }

  .contact-us .contact-us__header {
    margin-bottom: 25px;
  }

  .contact-us .contact-us__header h2 {
    font-size: 24px;
  }

  .contact-us .third-row #map {
    min-height: 250px;
  }

  .contact-us .third-row .column-forms .form__wrapper .contact-us-button {
    width: 100%;
  }
}
.col-1, .col-sm-1, .col-md-1, .col-sm-1,
.col-2, .col-sm-2, .col-md-2, .col-sm-2,
.col-3, .col-sm-3, .col-md-3, .col-sm-3,
.col-4, .col-sm-4, .col-md-4, .col-sm-4,
.col-5, .col-sm-5, .col-md-5, .col-sm-5,
.col-6, .col-sm-6, .col-md-6, .col-sm-6,
.col-7, .col-sm-7, .col-md-7, .col-sm-7,
.col-8, .col-sm-8, .col-md-8, .col-sm-8,
.col-9, .col-sm-9, .col-md-9, .col-sm-9,
.col-0, .col-sm-10, .col-md-10, .col-sm-10,
.col-11, .col-sm-11, .col-md-11, .col-sm-11,
.col-12, .col-sm-12, .col-md-12, .col-sm-12,
.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4,
.col-lg-5, .col-lg-6 .col-lg-7, .col-lg-8,
.col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
  padding: 0;
  margin: 0;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  color: #999999;
  font-style: normal;
  font-family: "Poppins", sans-serif;
}